.introduction{
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
    z-index:2;
    
}
.introduction p{
    color:white;
    
}
.introduction div h1{
    font-size:90px;
    color:rgba(255, 255, 255, 0.698);
    font-weight:bold;
}
.introduction div h1:hover{
    color: rgb(255, 255, 255);
    cursor:default;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    transition: all 0.4s;
}

.introduction div p{
    font-size:16px;
}

.introduction div p:hover{
    color: rgb(255, 255, 255);
    cursor:default;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    transition: 0.2s;
}

.primary-button{
    height: 45px;
    border-radius: 25px;
    border: none;
    color: rgb(248, 75, 75);
    background-color: rgb(0, 15, 58);
    cursor:pointer;
    width:50%;
}
.primary-button a{
    color: rgb(248, 75, 75);
    text-decoration: none;
    font-size: larger;
}
.primary-button a:hover{
    color:rgb(11, 7, 47);
    text-decoration: none;
}
.primary-button:hover{
    background-color: rgb(248, 75, 75);
    cursor:default;
    color:rgb(11, 7, 47);
    box-shadow: 0px 0px 13px rgb(250, 250, 250);
    transition: 0.2s;
    cursor:pointer;
}

.devstack{
    color:black;
    transition: all 0.5s;
    padding: 20;
}
.devstack:hover{
    color:white;
    background-color: #001220;
    transform: scale(1.02);
    box-shadow: none;
}

.waves{
    z-index: 3;
    height: 177px;
    width: 100%;
    background-size: cover;

}

.who-is-david{
    height: 65vh;
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.who-is-david:hover{
    transform: scale(1.045);
}

pre{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important; 
}

@media (max-width:750px){
    .introduction div h1{
        font-size:50px;
        color:rgba(255, 255, 255, 0.698);
        font-weight:bold;
    }
    .primary-button{
        height: 45px;
        border-radius: 25px;
        border: none;
        color: rgb(248, 75, 75);
        background-color: rgb(0, 15, 58);
        cursor:pointer;
        width:auto;
        padding: 5px 20px;
    }
    .who-is-david{
        height: 50vh;
        background-size: 180% 100%;
        color: rgb(0, 0, 0);
        background-position: center;
    }
    
    pre{
        font-size: 14px;
        font-family: 'Montserrat', sans-serif !important; 
    }

    .devstack{
        color:black;
        transition: all 0.5s;
        padding: 20;
        font-size: 10px;
    }
    .devstack:hover{
        color:white;
        background-color: #001220;
        transform: scale(1.02);
        box-shadow: none;
    }

    
}


